.pop-up__title {
  margin: 34px auto 0 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1279px) and (min-width: 321px) {
  .pop-up__title {
    /* 18px - 24px */
    font-size: calc(18px + 6 * (100vw - 320px) / 959);
    /* 22px - 29px */
    line-height: calc(22px + 7 * (100vw - 320px) / 959);
  }
}

@media screen and (max-width: 1024px) {
  .pop-up__title {
    margin: 25px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .pop-up__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 0;
  }
}