.popup__form {
  max-width: 358px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  height: 27px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form:focus {
  outline-color: #137df6;
}

.pop-up__form::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
    caret-color: #000000;
}

.popup__form::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__form::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__form::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .popup__form {
    max-width: 238px;
    width: 100%;
  }
}