.popup__btn-close {
  position: relative;
  background: url(../../../images/btn_close.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  bottom: 40px;
  left: 238px;
}

.popup__btn-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__btn-close {
    width: 20px;
    height: 20px;
    bottom: 36px;
    left: 131px;
  }
}